<!DOCTYPE html>
<html lang="en">
  <head>
  {{> page/head}}
  </head>

	{{#if body_class}}
  <body id="main-body" class="{{{body_class}}}">
	{{else}}
	<body id="main-body">
	{{/if}}

		<div class="container body">
			<div class="main_container">
<!--
				<div class="col-md-3 left_col">
-->
				{{> page/header}}
				
				{{> page/nav_bar}}
				
<!--
				</div>
-->
				
				<!-- page content -->
				<div class="right_col" role="main">
						<!--<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

							<button class="mdl-button mdl-js-button mdl-button--primary">
								Button
							</button>
								<i class="material-icons">keyboard_arrow_right</i>
							<button class="mdl-button mdl-js-button mdl-button--accent">
								Button
							</button>
					</div>
					-->
					{{#each apps}}
						{{#if this.role}}
						<div data-bind="page:
						{
						id: '{{this.id}}',
						role: '{{this.role}}',
						beforeHide: root_page.beforeHide.bind(root_page),
						afterShow: root_page.afterShow.bind(root_page)
						}
						">
							<div id="{{this.id}}" class="" data-bind="with: {{this.id}}">
								{{{../body}}}
							</div>
						</div>
						{{else}}
<!--
						<div data-bind="page:
						{
						id: '{{this.id}}',
						loader: loader,
						beforeShow: function(page){
							console.log('beforeShow');
							console.log(page);
						},
						showElement: show,
						sourceLoaded: load_app_resources,
						sourceOnShow: '{{this.href}} #{{this.id}}',
						beforeHide: root_page.beforeHide.bind(root_page),
						afterShow: root_page.afterShow.bind(root_page)
						}
						">
							<div data-bind="page:
							{
							id: '?',
							deep: true,
							sourceLoaded: load_app_resources,
							sourceOnShow: '{{this.href}}{1} #{{this.id}}',
							beforeHide: root_page.beforeHide.bind(root_page),
							afterShow: root_page.afterShow.bind(root_page)
							}
							">
							</div>
						</div>
-->
						<div data-bind="page:
						{
						id: '{{this.id}}',
						sourceLoaded: load_app_resources,
						sourceOnShow: '{{this.href}} #{{this.id}}',
						beforeHide: root_page.beforeHide.bind(root_page),
						afterShow: root_page.afterShow.bind(root_page)
						}
						">
						</div>
						{{/if}}
					{{/each}}
						<div data-bind="page:
						{
						id: 'os',
						}
						">
						hello
							<div data-bind="page:
							{
							id: '?',
							deep: true,
							sourceLoaded: load_app_resources,
							sourceOnShow: '/os/{1}',
							beforeHide: root_page.beforeHide.bind(root_page),
							afterShow: root_page.afterShow.bind(root_page)
							}
							">
							</div>
						</div>

				</div>
				<!-- /page content -->
			
				{{> page/footer}}
				
			</div><!-- main_container -->
		</div><!-- container body -->
		
	
	<script>
	{{#each body_script}}
		{{{this}}}
	{{/each}}
	
	var loader = function(page, element) {
		console.log('loader');
		console.log(page);
		console.log(element);
		
    var loader = {};
		var txt = $('<div>hello</div>');
		loader.load = function () {
				$(element).empty();
				$(element).append(txt);
		};
		loader.unload = function () {
				txt.remove();
		};
		return loader;
	}
	var callback = function(){
		console.log('callback');
		return '<div>hello</div>';

	};
	
	var sourceOnShow = function(Page, callback){
		console.log('sourceOnShow');
		console.log(Page);
		
	};
	var show = function (page, callback) {
    //$(page.element).fadeIn(1000, callback);
    console.log('show');
		console.log(page);
	};
	</script>
	
	{{#each body_scripts}}
	<script src="{{{this}}}"></script>
	{{/each}}
	
	{{#each body_css}}
  <link href="{{{this}}}" rel="stylesheet">
	{{/each}}

	
	<style>
	{{{body_style}}}
	</style>
	
	
  </body>
</html>
