<!DOCTYPE html>
<html lang="en">
  <head>
  {{> page/head}}
  </head>

  <body id="main-body">
		<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer"> 
			
			{{> page/header}}
			
			{{> page/nav_bar}}
			
			<main class="mdl-layout__content mdl-color--grey-100">
					<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

				<!-- Primary-colored flat button -->
						<button class="mdl-button mdl-js-button mdl-button--primary">
							Button
						</button>
						<!-- Icon button -->
<!--
						<button class="mdl-button mdl-js-button mdl-button--icon" disabled>
-->
							<i class="material-icons">keyboard_arrow_right</i>
<!--
						</button>
-->
						<!-- Accent-colored flat button -->
						<button class="mdl-button mdl-js-button mdl-button--accent">
							Button
						</button>
				</div>
				{{#each apps}}
					{{#if this.role}}
					<div data-bind="page:
					{
					id: '{{this.id}}',
					role: '{{this.role}}',
					}
					">
						<div id="{{this.id}}" class="mdl-grid demo-content" data-bind="with: {{this.id}}">
							{{{../body}}}
						</div>
					</div>
					{{else}}
					<div data-bind="page:
					{
					id: '{{this.id}}',
					sourceLoaded: mdl_init,
					sourceOnShow: '{{this.href}} #{{this.id}}'
					}
					">
					
					</div>
					{{/if}}
				{{/each}}
		
			</main>
			
		</div>
		
	
	<script>
	{{#each body_script}}
		{{{this}}}
	{{/each}}
	</script>
	
	{{#each body_scripts}}
	<script src="{{{this}}}"></script>
	{{/each}}
	
	{{#each body_css}}
  <link href="{{{this}}}" rel="stylesheet">
	{{/each}}

	
	<style>
	{{{body_style}}}
	</style>
	
	
  </body>
</html>
