<!DOCTYPE html>
<html lang="en">
  <head>
  {{> page/head}}
  </head>

	{{#if body_class}}
  <body id="main-body" class="{{{body_class}}}">
	{{else}}
	<body id="main-body">
	{{/if}}

		<div class="container body">
			<div class="main_container">
<!--
				<div class="col-md-3 left_col">
-->
				{{> page/header}}
				
				{{> page/nav_bar}}
				
<!--
				</div>
-->
				
				<!-- page content -->
				<div class="right_col" role="main">
						<!--<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

							<button class="mdl-button mdl-js-button mdl-button--primary">
								Button
							</button>
								<i class="material-icons">keyboard_arrow_right</i>
							<button class="mdl-button mdl-js-button mdl-button--accent">
								Button
							</button>
					</div>
					-->
					{{#each apps}}
						{{#if this.role}}
						<div data-bind="page:
						{
						id: '{{this.id}}',
						role: '{{this.role}}',
						}
						">
							<div id="{{this.id}}" class="" data-bind="with: {{this.id}}">
								{{{../body}}}
							</div>
						</div>
						{{else}}
						<div data-bind="page:
						{
						id: '{{this.id}}',
						sourceLoaded: load_app_resources,
						sourceOnShow: '{{this.href}} #{{this.id}}'
						}
						">
						
						</div>
						{{/if}}
					{{/each}}
			
				</div>
				<!-- /page content -->
			
				{{> page/footer}}
				
			</div><!-- main_container -->
		</div><!-- container body -->
		
	
	<script>
	{{#each body_script}}
		{{{this}}}
	{{/each}}
	</script>
	
	{{#each body_scripts}}
	<script src="{{{this}}}"></script>
	{{/each}}
	
	{{#each body_css}}
  <link href="{{{this}}}" rel="stylesheet">
	{{/each}}

	
	<style>
	{{{body_style}}}
	</style>
	
	
  </body>
</html>
