{{#if base}}
  <base href="{{base}}"/>
{{/if}}

<title>{{title}}</title>

<!--<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
-->
{{#each meta}}
  <meta {{{this}}}>
{{/each}}

{{#each links}}
  <link {{{this}}}>
{{/each}}

{{#each scripts}}
  <script src="{{{this}}}"></script>
{{/each}}

{{#each scripts_json}}
  <script src="{{{this.src}}}" id="{{{this.id}}}" type="application/javascript"></script>
{{/each}}

{{#each css}}
  <link href="{{{this}}}" rel="stylesheet">
{{/each}}

<style>
{{{style}}}
</style>
